body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: white;
    overflow: hidden;
}

#game-container {
    position: relative;
    width: 768px;
    /* 3x scale of 256 */
    height: 720px;
    /* 3x scale of 240 */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    background-color: #000;
}

canvas {
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
    display: block;
}

/* CRT Scanline effect */
#scanline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0) 50%,
            rgba(0, 0, 0, 0.2) 50%,
            rgba(0, 0, 0, 0.2));
    background-size: 100% 4px;
    pointer-events: none;
    z-index: 10;
}